@font-face{
	font-family: 'bpg-arial-webfont';
	src: url(../fonts/bpg-arial-webfont.ttf);
	font-style: normal;
	font-weight: 100;
}

*{
	margin: 0;
	padding: 0;
	font-family: bpg-arial-webfont, sans-serif;
}

body{
	background: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	background-attachment: fixed;
}

.title{
	font-size: 25px;
	text-align: center;
	margin-bottom: 20px;
}


/* Header */

#header{
	background-color: rgb(233,117,0,.5);
	width: 80%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}
#header-nav{
	display: flex;
	margin-left: 50px;
}
.header-nav-item{
	margin-right: 25px;
	padding: 15px 10px;
}
#header-nav a {
	text-decoration: none;
	color: white;
}
.header-nav-item:hover {
	background-color: rgb(181,91,0,0.8);
}
.header-nav-burger{
	display: none;
	font-size: 25px;
	color: white;
	padding-left: 10px;
}
#mobile-menu{
	position: fixed;
	display: none;
	z-index: 5;
	top: 0;
	left: 0;
	width: 170px;
	height: 100%;
	background: rgb(0,0,0,.7);

}
#mobile-menu a{
	color: white;
	text-decoration: none;
}
.mobile-menu-close{
	color: white;
	font-size: 25px;
	position: relative;
	float: right;
	margin-right: 5px;
}
/* Cotainer */

.main-container{
	background: rgb(255,255,255);
	width: 80%;
	max-width: 1280px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	border-radius: 10px;
}
.main-container-items{
	padding: 20px 30px;
}
.main-left {
	display: flex;
	padding: 25px;
}
.main-left:nth-child(even){
	display: flex;
	padding: 25px;
    flex-direction: row-reverse;
}
.main-left img{
	width: 350px; 
	margin-right: 50px; 
	max-height: 200px;
	margin-top: auto;
	margin-bottom: auto;
}
.main-left-text{
	line-height: 0.8cm;
	margin-top: auto;
	margin-bottom: auto;
	text-align: justify;
  	text-justify: inter-word;
}

.main-right {
	display: flex;
	padding: 25px;
}
.main-left iframe{
	width: 350px;
	margin-left: 50px; 
	border: none;
	max-height: 200px;
	margin-top: auto;
	margin-bottom: auto;
	
}
.main-right-text{
	line-height: 0.8cm;
	margin-top: auto;
	margin-bottom: auto;
}

/* About */

.about-text p{
	margin-bottom: 8px;
	text-align: justify;
  	text-justify: inter-word;
}
.about-text p a {
	text-decoration: none;
	color: black;
	font-weight: 600;

}
.about-text img{
	width: 400px;
	float: left;
	padding: 7px 7px 7px 0;
}
.about-text img:nth-child(even){
	float: right;
	padding: 7px 0 7px 7px;
}


/* Contacts */

.main-contact-container-items{
	padding: 20px 30px;
	display: grid;
	grid-template-columns: 40% 60%;
}
.contacts-left-item i{
	text-align: center;
	margin: auto 0;
	width: 30px;
	padding: 7px 0;
	background-color: #E97502;
	color: white;
	border-radius: 20px;
	margin-bottom: 15px;
	margin-right: 10px;
}
.contacts-input{
	margin-tops: 30px;
}
.contacts-input input{
	display: block;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid white;
	padding: 5px 0;
	width: 90%;

}
.contacts-input input:last-child{
	font-size: 15px;
	width: 90%;
	padding: 10px 0;
	border: none;
	cursor: pointer;
	margin-top: 30px;
}
.contacts-input input:last-child:hover{
	border:none;
	background-color: #DFDFDF;
}
.contacts-input input:hover{
	border-bottom: 1px solid #9B9B9B;
}
.contacts-right{
	width: 100%;
}
.contacts-right iframe{
	width: 100%;
	max-height: 450px;
}
.contacts-right img{
	display: none;
	width: 100%;
	max-height: 450px;
}
.contactsbuttons{
	display: flex;
	margin-bottom: 10px;

}
.contacttabB{
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #E8E8E8;
	margin-right: 20px;
	cursor: pointer;
}
.contacttabB:hover{
	background-color: #DFDFDF;
}

/* Responsive */

@media screen and (max-width: 1000px) {
   .main-left{
	   	display: block;
	   	padding: 0;
   }
   .main-left:nth-child(even){
   		display: block;
   		padding: 0;
   }
   .main-right{
	   	display: flex;
	   	padding: 0;
	   	flex-direction: column-reverse;
   }
   .main-left img {
   		display: table;
	   	margin: auto;
	   	
   }
   .main-left iframe{
	   	display: table;
	   	margin: auto;
   }
   .about-text img{
   		margin: 0;
   		width: 100%;
   		float: none;
   		padding: 0;
   }
   .main-container-items{
   		padding: 5px;
   }
   .main-contact-container-items{
   		padding: 0;
   		display: block;
   }
   #header-nav{
   		margin: 0;
   		display: none;
   }
   #header{
	   	width: 100%;
	   	margin: 0;
	   	padding: 0;
   }
   .main-container{
	   	width: 100%;
	   	margin: 0;
	   	border-radius: 0;
   }
   .header-nav-burger{
   		display: block;
   }
   .main-left-text{
   		width: 100%;
   		margin: 0;
   		margin-bottom: 15px;
   }
   .contacts-left{
   		padding: 10px;
   }
   .contacts-left-item{
		display: grid;
		grid-template-columns: auto auto;
	}
	.contacts-input input{
		width: 100%;
		border-bottom: 1px solid #9B9B9B;
	}
	.contacts-input input:last-child{
		width: 100%;
	}

}

@media screen and (max-width: 490px) {
	.main-left img {
   		margin: 0;
   		width: 100%;

   }
   .main-left iframe{
	   	margin: 0;
   		width: 100%;
   }
}